* {
	margin: 0;
	padding: 0;
}

html {
	background: url('./images/background.jpeg') no-repeat center;
	background-size: cover;
	height: 100%;
	min-height: 700px;
}

body {
	position: relative;
	max-width: 960px;
	height: 100%;
	max-height: 900px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: row-reverse nowrap;
	        flex-flow: row-reverse nowrap;

	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

main {
	width: 70vw;
	padding: 3em;
	background: rgba(45, 49, 66, 0.9);
	color: #FFF;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}

h1 {
	font-size: 2em;
	text-align: center;
}

#header {
	max-width: 320px;
	width: 80%;
	padding: 1em;
	margin: 1.5em auto 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#your-cash {
	display: none;
}

#description {
	max-width: 500px;
	width: 100%;
	margin: 3.5em auto;
}

#description > p {
	font-size: 1.235em;
	line-height: 1.6em;
	text-align: center;
}

#cash-price-inputs {
	max-width: 320px;
	width: 100%;
	margin: 1em auto 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#cash-price-inputs > input {
	width: 130px;
	height: 40px;
	text-align: center;
	color: #FFF;
	outline: none;
	border: none;
	border-radius: 10px;
	background: rgba(239, 131, 84, 0.9);
}

#cash-price-inputs > input:first-child {
	margin-right: 1em;
}

#cash-price-inputs > input:last-child {
	margin-left: 1em;
}

#cash-price-inputs > input::-webkit-input-placeholder {
	color: rgba(45, 49, 66, 0.9);
}

#cash-price-inputs > input:-ms-input-placeholder {
	color: rgba(45, 49, 66, 0.9);
}

#cash-price-inputs > input::-ms-input-placeholder {
	color: rgba(45, 49, 66, 0.9);
}

#cash-price-inputs > input::placeholder {
	color: rgba(45, 49, 66, 0.9);
}

#cash-register-field {
	max-width: 500px;
	width: 100%;
	min-height: 300px;
	margin: 3em auto 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#cash-register-field > h2, #cash-register-field > h3 {
	padding: 1em auto;
	text-align: center;
	line-height: 1.5em;
}

#cash-register-field > h3 {
	color: rgba(239, 131, 84, 0.9);
}

#cash-register-field > button {
	width: 120px;
	height: 40px;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	background: rgba(239, 131, 84, 0.9);
	text-align: center;
	color: rgba(45, 49, 66, 0.9);
	margin-bottom: 2em;
}

.enter-cash {
	width: 30vw;
	max-width: 400px;
	padding: 2em 0;
	background: rgba(239, 131, 84, 0.9);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.enter-cash > label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #FFF;
	text-align: center;
	line-height: 1.5em;
}

.enter-cash > label > input {
	margin: 1em auto;
	width: 60px;
	min-height: 25px;
	text-align: center;
	background: rgba(45, 49, 66, 0.9);
	outline: none;
	border: none;
	border-radius: 10px;
	color: #FFF;
}

/* Media Queries */

@media screen and (max-width: 800px) {
	main {
		width: 100vw;
	}

	.enter-cash {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		height: 100%;
		width: 160px;
		background: #EF8354;
		-webkit-transform: translateY(-100%);
		    -ms-transform: translateY(-100%);
		        transform: translateY(-100%);
		-webkit-transition: all 0.7s ease-in-out;
		-o-transition: all 0.7s ease-in-out;
		transition: all 0.7s ease-in-out;
	}

	.enter-cash > label:first-child {
		margin-top: 1em;
	}

	.show-menu {
	-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
		-webkit-transition: all 0.7s ease-in-out;
		-o-transition: all 0.7s ease-in-out;
		transition: all 0.7s ease-in-out;
	}

	#your-cash {
		display: block;
		position: absolute;
		top: 20px;
		left: 1.8em;
		cursor: pointer;
		outline: none;
	}
}

@media screen and (max-width: 500px) {
	html {
		height: auto;
	}

	#header {
		display: block;
		margin: 0 auto;
	}

	#header > img {
		display: block;
		margin: 1em auto;
	}

	#description {
		margin: 1.5em auto;
	}

	#description > p {
		font-size: 1em;
	}

	#cash-register-field > h2, #cash-register-field > h3 {
		font-size: 1.235em;
	}
}

@media screen and (max-width: 382px) {

	#cash-price-inputs {
		display: block;
		margin: 0 auto;
	}

	#cash-price-inputs > input {
		display: block;
	}

	#cash-price-inputs > input:first-child {
		margin: 0 auto 2em auto;
	}

	#cash-price-inputs > input:last-child {
		margin: 2em auto 0 auto;
	}

	#cash-register-field {
		margin: 2em auto 0 auto;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	
	#cash-register-field > button {
		margin-bottom: 1em;
	}
}
